<ul>
  <li ng-repeat="book in mainCtrl.books">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <img ng-src={{book.picture}} />
          <p class='Name'>{{book.name}}</p>
          <p class='Author'>{{book.author}}</p>
        </div>
        <div class="back">
          <p class='summary'>{{book.summary}}</p>
          <div ng-controller = "CartController as cartCtrl">
            <button ng-click="cartCtrl.addMyChoice(book)">Add to my Cart</button>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
